In [16]:
import pandas as pd

df = pd.read_csv('jewelry.csv')

df.rename(columns={"2018-12-01 11:40:29 UTC": "date_time", "1924719191579951782": "OrderID",
                   '1842195256808833386':'ProductID', '1':'Quantity',
                  '1806829201890738522':'CategoryID', 'jewelry.earring':'Category',
                  '0':'BrandID', '561.51':'Price_USD', '1515915625207851155':'UserID',
                  'Unnamed: 9':'Product_gender', 'red':'Color',
                  'gold':'Metal', 'diamond':'Gem'},inplace=True)

df

,date_time,OrderID,ProductID,Quantity,CategoryID,Category,BrandID,Price_USD,UserID,Product_gender,Color,Metal,Gem
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.000000e+00,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.000000e+00,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.000000e+00,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.000000e+00,102.27,1.515916e+18,NaN,red,gold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95905,2021-12-01 09:47:37 UTC,2719016587653808559,1515966223597820877,1,NaN,0.00,1.515916e+18,NaN,NaN,NaN,NaN,NaN,NaN
95906,2021-12-01 09:50:37 UTC,2719018098886705639,1956663830729720074,1,1.806829e+18,NaN,0.000000e+00,229.99,1.515916e+18,NaN,red,gold,NaN
95907,2021-12-01 09:52:06 UTC,2719018846999544322,1956663848219968336,1,1.806829e+18,jewelry.earring,1.000000e+00,630.00,1.515916e+18,f,white,gold,diamond
95908,2021-12-01 09:55:35 UTC,2719020596963836492,1835566854106513435,1,1.806829e+18,jewelry.earring,0.000000e+00,83.42,1.515916e+18,NaN,white,gold,fianit
95909,2021-12-01 09:59:07 UTC,2719022379232658075,1956663846156370429,1,1.806829e+18,jewelry.pendant,1.000000e+00,97.12,1.515916e+18,NaN,red,gold,NaN

In [29]:
df_new = df.drop(['OrderID','CategoryID'],axis=1)

df_new['UserID'] = df_new['UserID'] - 1.5159156250e+18

df_new

,date_time,ProductID,Quantity,Category,BrandID,Price_USD,UserID,Product_gender,Color,Metal,Gem
0,2018-12-01 17:38:31 UTC,1806829193678291446,1,NaN,NaN,212.14,71970048.0,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1842214461889315556,1,jewelry.pendant,1.000000e+00,54.66,48493568.0,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1835566849434059453,1,jewelry.pendant,0.000000e+00,88.90,207630848.0,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1873936840742928865,1,jewelry.necklace,0.000000e+00,417.67,175329280.0,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1835566854827934449,1,jewelry.earring,1.000000e+00,102.27,234475776.0,NaN,red,gold,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95905,2021-12-01 09:47:37 UTC,1515966223597820877,1,0.00,1.515916e+18,NaN,NaN,NaN,NaN,NaN,NaN
95906,2021-12-01 09:50:37 UTC,1956663830729720074,1,NaN,0.000000e+00,229.99,720367360.0,NaN,red,gold,NaN
95907,2021-12-01 09:52:06 UTC,1956663848219968336,1,jewelry.earring,1.000000e+00,630.00,720352000.0,f,white,gold,diamond
95908,2021-12-01 09:55:35 UTC,1835566854106513435,1,jewelry.earring,0.000000e+00,83.42,720369664.0,NaN,white,gold,fianit
95909,2021-12-01 09:59:07 UTC,1956663846156370429,1,jewelry.pendant,1.000000e+00,97.12,719786496.0,NaN,red,gold,NaN

In [37]:
df_new['ProductID'].value_counts().rename_axis('ProductID').reset_index(name='Units sold')

                ProductID  Units sold
0     1956663847725040099         526
1     1515966223577083202         468
2     1956663840242401751         428
3     1352907200745439279         369
4     1956663847666319760         350
...                   ...         ...
9608  1838168278451618248           1
9609  1956663845871157658           1
9610  1857293522789466116           1
9611  1836490635301879827           1
9612  1536902230743974482           1

[9613 rows x 2 columns]

In [ ]:
#####################################################

In [32]:
df.Quantity.unique()

array([1], dtype=int64)

In [28]:
import numpy as np

a = np.array(df.UserID.unique()) - 1.5159156250e+18

a, len(a)

# a[0],a[1]

(array([7.19700480e+07, 4.84935680e+07, 2.07630848e+08, ...,
        7.20362496e+08, 7.20367360e+08, 7.20369664e+08]),
 31080)