In [1]:
import pandas as pd

df = pd.read_csv('2019-Oct.csv')

df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8

In [3]:
df_new = df[df['event_type']=='purchase']

df_new

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
379,2019-10-01 00:06:02 UTC,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56
442,2019-10-01 00:07:07 UTC,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f
574,2019-10-01 00:09:26 UTC,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553
...,...,...,...,...,...,...,...,...,...
42448148,2019-10-31 23:55:13 UTC,purchase,26402784,2053013563651392361,NaN,NaN,102.45,516604399,a98bd433-57ac-42d0-ba81-e18b135a7a16
42448173,2019-10-31 23:55:21 UTC,purchase,47500017,2110937143172923797,construction.tools.light,puckator,20.59,514622109,5724116e-365b-4ac1-9d03-b8d66e1ccc7c
42448271,2019-10-31 23:56:03 UTC,purchase,1003306,2053013555631882655,electronics.smartphone,apple,577.89,512717356,f35ac37c-9573-4e30-b3d9-c09bb0b95a2b
42448362,2019-10-31 23:56:53 UTC,purchase,1004240,2053013555631882655,electronics.smartphone,apple,1054.60,533892594,3a5a3b01-2ab1-4a1d-a202-30d336e0057b
42448657,2019-10-31 23:59:16 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,160.57,544501248,e330d051-37ad-4dc3-b1ee-ff16a28b7998

In [5]:
df_new.reset_index(inplace=True)

In [7]:
df_new.drop(['index','event_type','category_id','user_id','user_session'],axis=1,inplace=True)
df_new

C:\Users\16479\AppData\Local\Temp\ipykernel_18660\1580860173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.drop(['index','event_type','category_id','user_id','user_session'],axis=1,inplace=True)

,event_time,product_id,category_code,brand,price
0,2019-10-01 00:02:14 UTC,1004856,electronics.smartphone,samsung,130.76
1,2019-10-01 00:04:37 UTC,1002532,electronics.smartphone,apple,642.69
2,2019-10-01 00:06:02 UTC,5100816,NaN,xiaomi,29.51
3,2019-10-01 00:07:07 UTC,13800054,furniture.bathroom.toilet,santeri,54.42
4,2019-10-01 00:09:26 UTC,4804055,electronics.audio.headphone,apple,189.91
...,...,...,...,...,...
742844,2019-10-31 23:55:13 UTC,26402784,NaN,NaN,102.45
742845,2019-10-31 23:55:21 UTC,47500017,construction.tools.light,puckator,20.59
742846,2019-10-31 23:56:03 UTC,1003306,electronics.smartphone,apple,577.89
742847,2019-10-31 23:56:53 UTC,1004240,electronics.smartphone,apple,1054.60
742848,2019-10-31 23:59:16 UTC,4804056,electronics.audio.headphone,apple,160.57

In [8]:
df_new['product_id'].value_counts().rename_axis('product_id').reset_index(name='units sold')

       product_id  units sold
0         1004856       28944
1         1004767       21806
2         1004833       12697
3         1005115       12543
4         4804056       12381
...           ...         ...
42236    26403934           1
42237    17500873           1
42238    27800079           1
42239    12716168           1
42240    47500017           1

[42241 rows x 2 columns]

In [9]:
# df_new.to_csv('2019-Oct-purchase.csv')